.logo-image {
    position: relative;
    cursor: pointer;
 
    & svg {
        position: relative;
        margin-top: 10px;
        left: 20%;
        width: 60px;
        height: 100px;
    }
}

@media screen and (max-width: 780px) {
    .logo-image svg {
        margin-top: 40px;
    }
}