.search-form-box {
    margin: 0 auto;
    text-align: center;

    &::before {
        content: '';
        display: block;
        height: 120px;
    }

    &::after {
        content: '';
        display: block;
        height: 100px;
    }
}

.search-form {
    margin: 0 auto;
    display: flex;
    width: 530px;
    justify-content: center;
}

.search-input-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 450px;
    margin: 0 auto;
}

@media screen and (max-width: 640px) {
    .search-input-box {
        display: block;
    }
}